body {
    background-color: #764397;
    font-family: Georgia;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    color: white;
}

.container {
    width: 350px; /*box size*/
    padding: 20px;
    background-color: rgba(118, 67, 151, 0.8); /* Slightly less opaque */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(95, 60, 120);
    text-align: center;
    margin: auto; /*centers*/
}

.logo {
    max-width: 200px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}
.bottom-logo {
    display: block;
    margin: 20px auto;
    max-width: 150px;
    margin-top: 20px;
}